/.bundle
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids/
/tmp/pids/*.pid
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep
/storage/*
!/storage/.keep
/vendor/bundle
/node_modules
/config/master.key
/.env
/.env.*
!/.env.example
